<div class="landing-page">
    <div class="wrapper">
        <h5 class="display-2">Employees App</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt maiores odit voluptatum nam labore quam exercitationem nostrum quis officiis repudiandae provident, porro vel expedita, perspiciatis natus unde a, assumenda vitae possimus nisi delectus. Quia ex corporis omnis adipisci voluptate nulla!
        </p>
    </div>
</div>
<div class="container mt-3 forover">
    <div class="row ">
        <div class="col-3 ">
            <img src="https://storyset.com/illustration/binary-code/bro" alt="" width="140%" height="90%" >
            
        </div>
        <div class="col-4 TextStyle text-secondary ">
            <p  class="btn btn-secondary" routerLink="/contact-list">Get Employees</p>
        </div>
    </div>
</div>
