.backcolor{
    background: linear-gradient(to left bottom,rgba(68, 61, 61, 0.2),rgba(183, 238, 238, 0.432));
}
li{
    background: linear-gradient(to left bottom,rgba(250, 250, 250, 0.1),rgba(136, 218, 218, 0.37));
    transition: box-shadow 0.3s ease-out ;
    color: rgb(0, 0, 0);
}

li:hover{
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.336);
}
.btn{
    background: linear-gradient(to left bottom,rgba(13, 179, 230, 0.2),rgba(68, 62, 90, 0.432));
    border: none;
}
