<div class="container mt-3">
    <div class="row">
        <div class="col text-black">
            <p class="h3 text-danger">Employees Informations List</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quis voluptate accusantium, quos provident dolorum unde amet excepturi adipisci voluptatem, quae corrupti, quas suscipit natus.</p>
        </div>
    </div>
</div>

<!--Table Format-->

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hobver table-striped text-center">
                <thead>
                    <tr class="bg-secondary changesize">
                        <td>SNo</td>
                        <td>Photo</td>
                        <td>Name</td>
                        <td>Age</td>
                        <td>Email</td>
                        <td>Location</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="changesize" *ngFor='let contact of contacts'>
                        <td>{{contact.login.uuid.substr(contact.login.uuid.length - 5)}}</td>
                        <td><img [src]="contact.picture.large" alt="" class="img-fluid img-thumbnail"></td>
                        <td><a routerLink="/contact-list/{{contact.login.uuid}}">{{contact.name.first}} {{contact.name.last}}</a></td>
                        <td>{{contact.dob.age}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.location.city}}</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>